<h1>Capco Contacts Manager</h1>

<nav class="navTab">
    <a href="/" onclick="this.class=active" class="active">
        <div>Employees</div>
    </a>  
   <a href="/settings" onclick="this.class=active" class="anc">
    <div>Settings</div>
    </a>
</nav>

<script>

</script>

{{outlet}}